---
layout: default
title: Kemper Lab
categories:
 - home
---

<div class="bigspacer"></div>
<div class="bigspacer"></div>
<div class="row">
    <div class="col-md-12">
        <!--<object class="pull-left biglogo" data="/images/logo.svg" type="image/svg+xml"></object>-->
        <img class="img-responsive center" src="{{ site.baseurl }}/images/splash.png">
        <div class="bigtitle logobox">
            Kemper Lab
        </div>
        <div class="head">
            <em>Quantum materials in and out of equilibrium.</em>
        </div>
<div class="bigspacer"></div>
        <div class="col-md-12">
        </div>
    </div>
</div>

<hr>
<div class="bigspacer"></div>
<div class="bigspacer"></div>

<div class="row">
    <div class="col-md-4">
        <div class="head">
            <a class="off" href="{{ site.baseurl }}/papers/">
                Publications
            </a>
        </div>
        <div class="bigspacer"></div>
        <div class="feedbox">
            {% for paper in site.categories.papers limit:12 %}
                <div class="note">
                    <i class="fa fa-file-text fa-fw"></i>
                    <a class="off" href="{{ site.baseurl }}{{ paper.url }}">
                    {{ paper.title }}. {{ paper.ref }}
                    </a>
                </div>
                <div class="smallspacer"></div>
                <div class="smallnote">
                    Posted
                    {{ paper.date | date: "%-d %b %Y" }}
                </div>
                <div class="spacer"></div>
                <div class="spacer"></div>
            {% endfor %}
        </div>
        <div class="bigspacer"></div>
    </div>

  <div class="col-md-5">
      <div class="head">
      <a class="twitter-timeline"
      href="https://twitter.com/KemperLab"
      data-height="800"
      data-link-color="#19CF86">
      Tweets by KemperLab
      </a>

      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>


    <div class="col-md-2">
        <div class="row">
            <div class="head">
                    Links
            </div>
            <div class="bigspacer"</div>
                <a href="https://scholar.google.com/citations?user=dliZB7MAAAAJ">Google Scholar</a><br>
                <a href="http://arxiv.org/find/cond-mat/1/au:+Kemper_A/0/1/0/all/0/1">arXiv</a><br>
                <a href="http://orcid.org/0000-0002-5426-5181">ORCID ID</a><br>
            <div class="bigspacer"></div>
            <!--
            <div class="head">
                Funding
            </div>
            -->
            <div class="media">
                <!--<a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1752713">-->
                <a href="https://www.nsf.gov">
                <img width=80   class="media-object" src="{{ site.baseurl }}/images/NSFLogo.png">
                </a>
	    </div>
            <div class="bigspacer"></div>
            <div class="media">
                <a href="https://science.energy.gov">
                <img width=200  class="media-object" src="{{ site.baseurl }}/images/doe_logo.jpg">
                </a>
            </div>
        </div>
        <div class="bigspacer"></div>
    </div>

   <!--
  <div class="col-md-4">
    <div class="head">
      <a class="off" href="{{ site.baseurl }}/blog/">Blog posts</a>
    </div>
    <div class="bigspacer"></div>
    <div class="feedbox">
      {% for post in site.categories.blog limit:6 %}

        {% for member in site.categories.team %}
          {% if member.title == post.author %}
            {% assign author = member %}
          {% endif %}
        {% endfor %}

        <div class="note">
          <i class="fa fa-comment fa-fw"></i>
          <a class="off" href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          </a>
        </div>
        <div class="smallspacer"></div>
        <div class="smallnote">
          Posted
          {{ post.date | date: "%-d %b %Y" }}
          {% if author %}
          by <a class="off" href="{{ site.baseurl }}{{ author.url }}">{{ author.handle }}</a>
          {% endif %}
        </div>
        <div class="spacer"></div>
        <div class="spacer"></div>
      {% endfor %}
    </div>
    <div class="bigspacer"></div>
  </div>
  -->





    <!-- <div class="col-md-4">
        <div class="head">
            <a class="off" href="/news/">News</a>
        </div>
        <div class="bigspacer"></div>
        <div class="feedbox">
            {% for post in site.categories.news limit:6 %}

                {% for member in site.categories.team %}
                    {% if member.title == post.author %}
                        {% assign author = member %}
                    {% endif %}
                {% endfor %}

                <div class="note">
                    <i class="fa fa-rss fa-fw"></i>
                    <a class="off" href="{{ post.url }}">
                    {{ post.title }}
                    </a>
                </div>
                <div class="smallspacer"></div>
                <div class="smallnote">
                    Posted
                    {{ post.date | date: "%-d %b %Y" }}
                    {% if author %}
                    by <a class="off" href="{{ author.url }}">{{ author.handle }}</a>
                    {% endif %}
                </div>
                <div class="spacer"></div>
                <div class="spacer"></div>
            {% endfor %}
        </div>
        <div class="bigspacer"></div>
    </div> -->
</div>


<div class="row">
        <div class="col-lg-12 reduced-gutter">
                <div class="pad-left">
                        <ul class="list-inline">
                                {% for page in site.categories.misc %}
                                <li class="footernav list-inline-item">
                                        <i class="fa fa-angle-right"></i> <a class="off" href="{{ page.url }}">{{ page.title }}</a>
                                </li>
                                {% endfor %}
				<!--
                                <li class="footernav list-inline-item">
                                        <i class="fa fa-angle-right"></i> <a class="off" href="/talks/">Talks</a>
                                </li>
				-->
                        </ul>
                </div>
                <div class="spacer"></div>
        </div>
</div>

<!--
<div class="spacer"></div>
<div class="row">
    <div class="col-md-12">
        <div class="head">
            Misc
        </div>
        <div class="spacer"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 reduced-gutter">
        <div class="pad-left">
            <ul class="list-inline">
                {% for page in site.categories.misc %}
                <li class="footernav">
                    <i class="fa fa-angle-right"></i> <a class="off" href="{{ page.url }}">{{ page.title }}</a>
                </li>
                {% endfor %}
                <li class="footernav">
                    <i class="fa fa-angle-right"></i> <a class="off" href="/talks/">Talks</a>
                </li>
            </ul>
        </div>
        <div class="spacer"></div>
    </div>
</div>
-->
