---
layout: default
---

<div class="row">
	<div class="col-lg-8">
		<div class="media-body titlebox">
			<div class="title">
				{{ page.title }}
			</div>
			<p>
			<div class="smallhead">
				{{ page.author }}<br>
                {% if page.venue %}
                    <div class="note">
                    {{ page.event }} at {{ page.venue }}
                    </div>
                {% else %}
                    <div class="note">
                {{ page.event }}
                    </div>
                {% endif %}
		    </div>
		</div>
	</div>
</div>


<div class="row">
    <div class="col-lg-8">
		<div class="bigspacer"></div>
		<div class="glyphbox note">

			{% if page.pdf %}
			<div class="smallhead">
                <!--PDF-->
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-file-text-o fa-fw"></i>
                <a class="off" href="{{ page.pdf }}">PDF</a>
			</div>
			{% endif %}

			{% if page.website %}
			<div class="smallhead">
                <!--PDF-->
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-external-link fa-fw"></i>
                <a class="off" href="{{ page.website }}">Conference Website</a>
			</div>
			{% endif %}
        </div>
    </div>
</div>

			<div class="bigspacer"></div>

<div class="row">
    <div class="col-lg-8">
		<div class="post">
			{{ content }}
		</div>
	</div>
</div>
